* {
    margin: 0;
    border: 0;
<<<<<<< HEAD
    padding: 0;
    box-sizing: border-box;


    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

=======
    box-sizing: border-box;
    padding: 0;

    font-family: 'Inter', sans-serif;

    color: #480ca8;
>>>>>>> 0b01340d150490e949df99635fc9744006a32c2c
}