.mainContainer{
    max-width: 1300px;
    height: 94vh;
    margin: 0 auto 0 auto;

    padding: 2rem;

    display: flex;


}

.imageContainer {
    

    padding: 1rem;
    width: 55%;
    height: 55%;
    
    img {
        width: 100%;
        height: 100%;
    }
}

.textContainer {
    width: 45%;
    padding: 2rem;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 1px dotted black;

    h1 {
        margin-top: 1rem;
        color:black;
    }   

    div {
        color: black;
        margin-top: 1rem;
       
    }
    p {
        margin-top: 1rem;
        color: rgb(104, 104, 104);
    }

    button {
        margin-top: 2rem;
        width: 40%;
        height: 10%;
        font-size: 1rem;

        border: 2px solid blue;
        color: blue;
        border-radius: 10px;
        transition: .3s;
       
        
        &:hover {
            cursor: pointer;
            background: blue;
            color: white;
        }
}

}